.bg-success{
    width: 100%;

}
#head{
    width: 100%;
    height: 50px;
    background-color: green;
    padding-left: 100px;
   
}
title{
    width: 100%;
    height: 70px;
}
.name{
    font-size:35px;
    color:goldenrod;
    font-weight: bolder;
    

}
.tabs{
    margin-right: 70px;
    font-size: 27px;
    color:goldenrod ;
    cursor: pointer;
    
}
a{
    text-decoration: none;
}contain{
    width: 500px;
}

.errmsg{
    color: red;
}
.image{
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 40px;
}





















/*=========================MEDIA QUERY==================================*/
@media screen and (max-width:520px){
   #head_bar{
       width: 120%;
   }
    #username, #password, #class, #year,#gender{
        width: 200px;
    }

    .tabs{
        margin-right: 40px;
        font-size: 14px;
    }
    #head{
        height: fit-content;
    }
}